pyrogram
requests
aiohttp
telethon
asyncio
pytz
pycountry
beautifulsoup4
tgcrypto
pillow
yt-dlp
ffmpeg
spotipy
pillow
python-dateutil
pymongo
gTTS
aiofiles
python-dotenv
googletrans==4.0.0-rc1
psutil
pydub
moviepy
speedtest-cli
