pyrofork
requests
instaloader
aiohttp
telethon
asyncio
pytz
pycountry
beautifulsoup4
tgcrypto
flask
pillow
yt-dlp
ffmpeg
spotipy
pyspellchecker
pillow
python-dateutil
pymongo
gTTS
aiofiles
python-dotenv
googletrans==4.0.0-rc1
psutil
pydub
moviepy
rembg
onnxruntime-gpu
speedtest-cli
